<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Register | CarGo CarIn</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <link rel="stylesheet" href="/gen/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <link rel="stylesheet" href="/gen/dist/css/AdminLTE.min.css">
  <link rel="stylesheet" href="/gen/plugins/iCheck/square/blue.css">
</head>
<body class="hold-transition register-page">
<div class="register-box">
  <div class="register-logo">
    <a href="/index"><b>CarGo</b>CarIn</a>
  </div>
  <div class="register-box-body">
    <p class="login-box-msg">Register an account</p>    
    <form action="/newClient" method="post">
      <div class="form-group has-feedback">
        <input type="text" class="form-control" id="first_Name" name="first_Name" placeholder="First name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="text" class="form-control" id="last_Name" name="last_Name" placeholder="Last name">
        <span class="glyphicon glyphicon-user form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="text" class="form-control" id="address" name="address" placeholder="Address">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="text" class="form-control" id="contact_No" name="contact_No" placeholder="Contact Number" data-inputmask='"mask": "(+639) 000-000-000"' data-mask>
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
	  <div class="form-group has-feedback">
        <input type="text" class="form-control" id="acc_Type" name="acc_Type" placeholder="Account Type">
        <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="username" class="form-control" id="username" name="username" placeholder="Username">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
        <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <div class="col-xs-4">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>
<script src="/gen/plugins/jQuery/jquery-2.2.3.min.js"></script>
<script src="/gen/bootstrap/js/bootstrap.min.js"></script>
<script src="/gen/plugins/iCheck/icheck.min.js"></script>
</body>
</html>
